C Template/.vs/C Template.slnx/FileContentIndex/b821a468-6bcd-4e77-ab13-484ded810d6e.vsidx
C Template/.vs/C Template.slnx/v18/.wsuo
C Template/.vs/C Template.slnx/v18/Browse.VC.db
C Template/.vs/C Template.slnx/v18/DocumentLayout.json
C Template/.vs/C Template.slnx/v18/ipch/AutoPCH/1261a4f6d737517d/NETWORKUTILS.ipch
C Template/.vs/ProjectSettings.json
C Template/.vs/slnx.sqlite
C Template/.vs/VSWorkspaceState.json
